main{display : flex; flex-wrap:wrap;
justify-content : center;
     background-color: #eeeeee}

main>.no1{flex: none;
width : 100px;     
background-color:#228861}

main>.no2{flex: auto;
background-color:#889251}

main>.no3{flex: auto;
background-color:#889251}

main>.no4{flex: none;
width : 100px;
background-color:#88ff66}

@media screen and (max-width: 1000px)
{
	main>.no1{width:45%}
}
@media screen and (max-width: 800px)
{
	main>.no1{width:90%}
}
